/* .dichuot:hover {
  color: red;
  font-size: 30px;
} */

.dichuot:active {
  color: red;
  font-size: 30px;
}

.click_me:link {
  color: chocolate;
}

.click_me:visited {
  color: blue;
}

.div_elm:empty {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.div_elm {
  width: 200px;
  height: 200px;
  background-color: red;
}

h2:target {
  color: blue;
}
