p:first-child {
  color: red;
  font-size: 30px;
}

/* p:last-child {
  color: blue;
  font-size: 30px;
}

p:nth-child(2) {
  color: hotpink;
  font-size: 30px;
} */

/* p:nth-child(odd) {
  color: hotpink;
  font-size: 30px;
} */

/* p:nth-child(3n + 1) {
  color: hotpink;
  font-size: 30px;
} */
