/* PC */
@media (min-width: 992px) {
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  /* 1. Ẩn navbar trên tablet và mobile */
  .navbar {
    display: none;
  }
  /* 2. Chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header-top .logo {
    position: absolute;
    left: 50%;
    transform: -50% -50%;
  }
  /* Căn lại vị trí menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
  }

  .menu-overlay {
    position: fixed;
    background-color: blue;
    inset: 20px;
    z-index: 1;
    /* bình thường ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
  }

  /* Kiểm tra nếu checkbox được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: hidden;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media (min-width: 992px) {
}
