.container {
  display: flex;
}

.box {
  /* flex-basis: 100px; */
  /* max-width: 200px; */
  /* Nếu max-width < flex-basis -> max-width */
  /* Nếu max-width > flex-basis -> flex-basis */
  /* min-width: 200px; */
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100px; */
  flex: 0 1 100px;
}

.box1 {
  background-color: cyan;
}

.box2 {
  background-color: blue;
  order: 1;
}

.box3 {
  background-color: green;
  order: 3;
}

.box4 {
  background-color: red;
}
