input:placeholder-shown {
  background-color: cyan;
}

input:not(placeholder-shown) {
  background-color: yellow;
}

.login-form:focus-within {
  background-color: blue;
}

.login-form:focus-within button {
  background-color: red;
}
