.box {
  background: blue;
  width: 300px;
  height: 300px;
}
/* 
@media (max-width: 600px), (min-width: 100px) {
  .box {
    width: 200px;
    height: 200px;
    background: red;
  }
}

@media print {
  .box {
    background: yellow;
  }
}

@media (orientation: landscape) {
  .box {
    width: 200px;
    height: 200px;
    background: cadetblue;
  }
} */

/* homework */
@media (max-width: 480px) {
  body {
    background: yellow;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  body {
    background: chocolate;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  body {
    background: green;
  }
}

@media (min-width: 1601px) {
  body {
    background: purple;
  }
}
